<nav class="tab-nav">
  {{#each tabs as |tab|}}
    <span role="button" onclick={{action "setSelectedTab" tab}} class="tab-nav-item {{if tab.active "active"}}">
      {{showcase/s-icon "code"}} {{tab.title}}
    </span>
  {{/each}}
</nav>

{{#each tabs as |tab|}}
  {{#if tab.active}}
    {{#if tab.src}}
      {{code-sample language=tab.language src=tab.src}}
    {{/if}}

    {{#if tab.sourceId}}
      {{from-elsewhere name=tab.sourceId}}
    {{/if}}
  {{/if}}
{{/each}}