<pre class={{languageClass}} data-language={{language}}>{{#if hasBlock}}{{#in-element this.blockElement}}{{yield}}{{/in-element}}{{/if}}<code class={{languageClass}}>{{safePrismCode}}</code></pre>
<div class="toolbar">
  <div class="toolbar-item">
    <span>{{languageLabel}}</span>
  </div>
</div>