<pre class={{this.languageClass}} data-language={{this.language}}>{{#if hasBlock}}<section style="display: none;">{{yield}}</section>{{/if}}<code class={{this.languageClass}}>{{this.safePrismCode}}</code>
</pre>

<div class="toolbar">
  <div class="toolbar-item">
    <span>{{this.languageLabel}}</span>
  </div>
</div>