<div class="card" id="{{anchorId}}">
  <div class="card-content">
    <h2 class="card-title">
      {{title}}
      <span class="pull-right">
        {{#link-to currentPath (query-params anchor=anchorId) class='btn btn-lg btn-square btn-link'}}
          {{fa-icon "link"}}
        {{/link-to}}
      </span>
    </h2>
    {{#if hasBlock}}
      {{#if simple}}
        {{showcase/s-docs description sample=this}}
        {{#showcase/s-example sample=this}}
          {{yield}}
        {{/showcase/s-example}}
        {{showcase/s-source sample=this hideHTML=true showSelfHBS=self}}
      {{else}}
        {{yield (hash
                  src=src
                  hbs=hbs
                  docs=(component 'showcase/s-docs' sample=this)
                  example=(component 'showcase/s-example' sample=this)
                  source=(component 'showcase/s-source' sample=this showSelfHBS=self)
                )}}
      {{/if}}
    {{else}}
      <p>Showcase requires use of the block syntax to work correctly.</p>
    {{/if}}
  </div>
</div>