<div class="showcase" id={{anchorId}}>
  <h2 class="showcase-title">
    {{title}}
    <span class="pull-right">
      {{#link-to currentPath (query-params anchor=anchorId) class="showcase-btn"}}
        {{showcase/s-icon "link"}}
      {{/link-to}}
    </span>
  </h2>

  <div class="showcase-body">
    {{#if hasBlock}}
      {{#if simple}}
        {{showcase/s-docs description}}

        {{#showcase/s-example sourceId=sourceId}}
          {{yield}}
        {{/showcase/s-example}}

        {{showcase/s-source
          src=src
          hbs=hbs
          sourceId=sourceId
          selfHBS=selfHBS
          showSelfHBS=selfReflection
        }}
      {{else}}
        {{yield
          (hash
            src=src
            hbs=hbs
            Docs=(component "showcase/s-docs")
            Example=(component "showcase/s-example" sourceId=sourceId)
            Source=(component "showcase/s-source"
              src=src
              hbs=hbs
              sourceId=sourceId
              selfHBS=selfHBS
              showSelfHBS=selfReflection
            )
          )
        }}
      {{/if}}
    {{else}}
      <p>Showcase requires use of the block syntax to work correctly.</p>
    {{/if}}
  </div>
</div>