{{#component-showcase "Simple Showcase" "For simple usage just put your component sample inside the `component-showcase` block." selfReflection=true}}
  {{#fa-stack size="lg" as |s|}}
    {{s.stack-2x "circle"}}
    {{s.stack-1x "flag" inverse=true}}
  {{/fa-stack}}
{{/component-showcase}}

{{#component-showcase "API documentation" "For simple usage just put your component sample inside the `component-showcase` block." selfReflection=true as |s|}}
  {{#s.example}}
  {{/s.example}}
  {{s.docs api="ComponentShowcase"}}
{{/component-showcase}}

{{#component-showcase title="Custom Block Showcase" selfReflection=true as |s|}}
  {{s.docs "More sophisticated showcases can be composed using the sub-components `docs`, `example` & `source`."}}
  {{s.docs "You can have as many source blocks as you'd like, they *automatically compile* from [markdown](https://daringfireball.net/projects/markdown/syntax) for you."}}
  {{#s.example}}
    {{#power-select options=countries selected=country onchange=(action "foo") as |country|}}
      {{country.name}}
    {{/power-select}}
  {{/s.example}}
  <p>You can even qualify your examples with any other markup you want.</p>
  {{s.source (array (hash title="route.js" language="JavaScript" src="
import Ember from 'ember';

const countries = [
  { name: 'United States',  flagUrl: '/flags/us.svg' },
  { name: 'Spain',          flagUrl: '/flags/es.svg' },
  { name: 'Portugal',       flagUrl: '/flags/pt.svg' },
  { name: 'Russia',         flagUrl: '/flags/ru.svg' },
  { name: 'Latvia',         flagUrl: '/flags/lv.svg' },
  { name: 'Brazil',         flagUrl: '/flags/br.svg' },
  { name: 'United Kingdom', flagUrl: '/flags/gb.svg' },
];

export default Ember.Controller.extend({
  countries: countries,
  country: null,
  actions: {
    foo(country) {
      this.set('country', country);
    }
  }
});
  ")) showHTML=true}}
  <p>Or after them!</p>
{{/component-showcase}}

{{#component-showcase "Additional Sources" selfReflection=true as |s|}}
  {{s.docs "You can pass additional source documents into the `source` sub-component, this is useful for explaining component configurations in Routes and Controllers."}}
  {{#s.example}}
    {{fa-icon "user"}}
  {{/s.example}}
  {{s.source (array (hash title="route.js" language="JavaScript" src="import Ember from 'ember';")) showHTML=true}}
{{/component-showcase}}

{{outlet}}