<p>Section is a test page to get this ball rolling...</p>

{{!--{{#code-sample}}--}}
  {{!--<h1>Earth</h1>--}}
  {{!--<h1>Water</h1>--}}
  {{!--<h1>Fire</h1>--}}
{{!--{{/code-sample}}--}}

{{!--{{#code-sample language="JavaScript"}}--}}
  {{!--var earth = 'earth';--}}
  {{!--let wind = ['w', 'i', 'n', 'd'];--}}
  {{!--const fire = {'fire': true};--}}
  {{!--console.log(earth, wind, fire);--}}
{{!--{{/code-sample}}--}}

{{!--{{component-showcase title="Header" target=(component "fa-icon" "code" border=true)}}--}}

{{#component-showcase "Simple" "Super easy inline description makes this really easy"}}
  {{#code-sample}}
    <h1>Earth</h1>
    <h1>Water</h1>
    <h1>Fire</h1>
  {{/code-sample}}
{{/component-showcase}}

{{#component-showcase "Testing" as |s|}}
  {{s.docs "Plain buttons and their disabled."}}
  {{#s.example}}
    {{fa-icon "code"}}
  {{/s.example}}
  {{s.source}}
{{/component-showcase}}

{{#component-showcase "Testing" as |s|}}
  {{s.docs "Plain buttons and their disabled."}}
  {{#s.example}}
    {{fa-icon "code"}}
  {{/s.example}}
  {{#s.source as |src|}}
    {{src.tabs (array
        src.hbs
        src.html
        (hash title="Route.js" language="JavaScript" src="var foo = 'foo'")
    )}}
  {{/s.source}}
{{/component-showcase}}

{{outlet}}