<p>Section is a test page to get this ball rolling...</p>

{{!--{{#code-sample}}--}}
  {{!--<h1>Earth</h1>--}}
  {{!--<h1>Water</h1>--}}
  {{!--<h1>Fire</h1>--}}
{{!--{{/code-sample}}--}}

{{!--{{#code-sample language="JavaScript"}}--}}
  {{!--var earth = 'earth';--}}
  {{!--let wind = ['w', 'i', 'n', 'd'];--}}
  {{!--const fire = {'fire': true};--}}
  {{!--console.log(earth, wind, fire);--}}
{{!--{{/code-sample}}--}}

{{!--{{component-showcase title="Header" target=(component "fa-icon" "code" border=true)}}--}}

{{#component-showcase "Testing" as |s|}}
  {{s.docs "Plain buttons and their disabled."}}
  {{#s.example}}
    {{fa-icon "code"}}
  {{/s.example}}
  {{s.source}}
{{/component-showcase}}

{{#component-showcase "Ember Power Select" as |s|}}
  {{s.docs "Ember Power Select"}}
  {{#s.example}}
    {{#power-select options=countries selected=country onchange=(action "foo") as |country|}}
      {{country.name}}
    {{/power-select}}
  {{/s.example}}
  {{s.source}}
{{/component-showcase}}
