<ComponentShowcase
  @title="Simple Showcase"
  @description="For simple usage just put your component sample inside the `component-showcase` block."
  @selfReflection={{true}}
>
  <Showcase::SIcon @icon="bell" />
</ComponentShowcase>

<ComponentShowcase @title="API documentation" @description="For simple usage just put your component sample inside the `component-showcase` block." @selfReflection={{true}} as |s|>
  <s.Example></s.Example>
  <s.Docs @api="ComponentShowcase" />
</ComponentShowcase>

<ComponentShowcase @title="Custom Block Showcase" @selfReflection={{true}} as |s|>
  <s.Docs @params={{array "More sophisticated showcases can be composed using the sub-components `docs`, `example` & `source`."}} />
  <s.Docs @params={{array "You can have as many source blocks as you'd like, they *automatically compile* from [markdown](https://daringfireball.net/projects/markdown/syntax) for you."}} />

  <s.Example>
    <PowerSelect
      @options={{this.countries}}
      @selected={{this.country}}
      @onchange={{fn this.foo}}
      as |country|
    >
      {{country.name}}
    </PowerSelect>
  </s.Example>

  <p>You can even qualify your examples with any other markup you want.</p>
  <s.Source @tabsInput={{array
  (hash title="route.js" language="JavaScript" src="
import Ember from 'ember';

const countries = [
  { name: 'United States',  flagUrl: '/flags/us.svg' },
  { name: 'Spain',          flagUrl: '/flags/es.svg' },
  { name: 'Portugal',       flagUrl: '/flags/pt.svg' },
  { name: 'Russia',         flagUrl: '/flags/ru.svg' },
  { name: 'Latvia',         flagUrl: '/flags/lv.svg' },
  { name: 'Brazil',         flagUrl: '/flags/br.svg' },
  { name: 'United Kingdom', flagUrl: '/flags/gb.svg' },
];

export default Ember.Controller.extend({
  countries: countries,
  country: null,
  actions: {
    foo(country) {
      this.set('country', country);
    }
  }
});
  ")}} @showHTML={{true}} />
  <p>Or after them!</p>
</ComponentShowcase>

<ComponentShowcase @title="Additional Sources" @selfReflection={{true}} as |s|>
  <s.Docs @params={{array "You can pass additional source documents into the `source` sub-component, this is useful for explaining component configurations in Routes and Controllers."}} />

  <s.Example>
    <Showcase::SIcon @icon="user" />
  </s.Example>

  <s.source
    @tabsInput={{array
      (hash
        title="route.js"
        language="JavaScript"
        src="import Ember from 'ember';"
      )
    }}
    @showHTML={{true}}
  />
</ComponentShowcase>
