<div class="sample-docs">
  <div class="description">
    <MarkdownText @text={{@src}} />

    {{#if this.classDocs.description}}
      <MarkdownText @text={{this.classDocs.description}} />
    {{/if}}
  </div>

  {{#if this.apiDocs}}
    <div class="l-section">
      <h4 class="text-muted sample-docs-class-title">
        <Showcase::SIcon @icon="gear" />
        {{this.classDocs.name}} API
      </h4>

      <ul class="list-unstyled">
        {{#each this.apiDocs as |doc|}}
          <li class="sample-docs-api">
            <div class="sample-docs-api-title">
              <code>{{doc.name}}</code>

              <small class="sample-docs-api-type">
                {{doc.type.name}}

                {{#if doc.required}}
                  <label>(required)</label>
                {{/if}}
              </small>

              {{#if doc.default}}
                <small>- Default: {{doc.default}}</small>
              {{/if}}
            </div>

            <div class="sample-docs-api-description">
              <MarkdownText @text={{doc.description}} />

              {{#if doc.github}}
                <div>
                  <small>Defined in <a target="_blank" rel="noreferrer noopener" href={{concat doc.github doc.file '#L' doc.line}}>{{doc.file}}:{{doc.line}}</a></small>
                </div>
              {{/if}}

              {{!-- #each doc.examples as |example|}}
                <Showcase::SSnippet @src={{example.content}} @title={{example.title}} @language={{example.language}} />
              {{/each}} --}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>